  <div class="bg-gray-cool flex justify-end h-8">
    <% if session[:current_user_id].present? %>
      <% if request.path == missions_path %>
        <div class="text-center bg-green-500 w-1/12 rounded-full my-auto">
          <%= link_to t('.link.edit_user'), '' %></div>
        <div class="text-center bg-red-500 w-1/12 rounded-full my-auto">
      <% else %>
        <div class="text-center bg-red-500 w-1/12 rounded-full my-auto">
          <%= link_to t('.link.delete_user'), '' %></div>
        <div class="text-center bg-green-500 w-1/12 rounded-full my-auto">
      <% end %>
          <%= link_to t('.link.logout'), logout_path, method: :delete,
                                                      data: { confirm: t('.alert.logout') } %></div>
    <% else %>
      <% if request.path == login_path %>
          <div class="bg-gray-dark w-full"></div>
      <% else %>
          <div class="text-center bg-green-500 w-1/12 rounded-full my-auto">
            <%= link_to t('.link.login'), login_path %></div>
      <% end %>
    <% end %>
  </div>


